@{
    ViewData["Title"] = "Home Page";
}

@using BurgerApp.ViewModels;

@model BurgerOrderViewModel;


<div class="jumbotron">
    <h1 class="display-4">Welcome to BurgerAPP</h1>
    <h3>Today on sale: @Model.burger</h3>
</div>